{{>header}}
{{{ createUser primerNombre segundoNombre identificacion email curso }}}
<table>
        <thead>
          <tr>
            <th>Nombre Completo</th>
            <th>identificacion</th>
            <th>Email</th>
            <th>Nombre del curso</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{primerNombre}} {{segundoNombre}}</td>
            <td>{{identificacion}}</td>
            <td>{{email}}</td>
            <td>{{curso}}</td>
          </tr>
        </tbody>
      </table>

        <a href="/userregistration">
            <button style="margin-top: 20px;" class="btn waves-effect waves-light"  type="submit" name="action">
            Inscribir otro
            </button>
        </a>
        <a href="/courses">
            <button style="margin-top: 20px;" class="btn waves-effect waves-light" type="submit" name="action">
                Ver estudiantes inscritos
            </button>
        </a>

{{>footer}}